* {
    box-sizing: border-box;
    color: black;
    padding: 5;
    margin: 0 auto;
}

.header {
    padding: 3;
    margin: 3;
    width: 100%;
    height: 4rem;
    background-color: rgb(14, 21, 145);
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul {
    height: 100%;
    list-style: none;
    color: white;
    display: flex;
}

.nav li {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: rgb(240, 100, 6);
    color: rgb(14, 21, 145);
    margin-inline: 1rem;
    line-height: 4rem;
    outline: none;
}

.nav li a:hover {
    color: #FFFFFF;  /* hover color*/
}

a {
    color: rgb(238, 155, 11);
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    margin: 0 auto;
    padding: 0;
}

.container {
    margin-top: 2rem;
}

.col-md-4 {
    margin-bottom: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: rgb(230, 77, 6);
    color: rgb(5, 23, 184);
    width: 100%;
}

.list-group {
    min-height: 200px;
    background-color: #cd5f0ae7;
    color: rgb(5, 23, 184);
}

.list-group-item {
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background: none;
    border: none;
    color: rgb(7, 113, 236);
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: auto;
}

footer {
    background: linear-gradient(to bottom, #ffffff, #e1e1e1);
    color: #333;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

button, input[type="submit"] {
    background-color: #007aff;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

button:hover, input[type="submit"]:hover {
    background-color: #005bb5;
}
